<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @multimedium.name %>
</p>

<p>
  <b>Source:</b>
  <%= @multimedium.source %>
</p>

<p>
  <b>Tag:</b>
  <%= @multimedium.tag %>
</p>


<%= link_to 'Edit', edit_multimedium_path(@multimedium) %> |
<%= link_to 'Back', multimedia_path %>
