<!DOCTYPE html>
<html>
  <head>
    <title>Gory</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  	<%= image_tag("logo.jpg", :class => "img") %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "sample app", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
            	<li><%= link_to "Aktualnosci",    news_path %></li>                
            	<li><%= link_to "O nas",    about_path %></li>                
            	<li><%= link_to "Zdobyte szczyty", peaks_path %></li>                
            	<li><%= link_to "Historia", archive_path %></li>               
            	<li><%= link_to "Galeria", gallery_path %></li>                
            	<li><%= link_to "Wywiady", interviews_path %></li>                
				<li><%= link_to "Kontakt", contact_path %></li>
				<li></li>
				<li></li>
				<li></li>
				<li><%= link_to image_tag("login.png"), signin_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
     <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>